@model BindingActions.Models.Friend
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post" action="/friends/create">

    Name: <input type="text" name="name" value="@Model.Name" />
    @if (ViewData["NameError"] != null)
    {
        <span class="text-danger">
            * @ViewData["NameError"]
        </span>
    }
    <br />
    Age:  <input type="text" name="age" value="@Model.Age" />@if (ViewData["AgeError"] != null)
    {
        <span class="text-danger">
            * @ViewData["AgeError"]
        </span>
    }
    <br />
    Street: <input type="text" name="Address.Street" value="@Model.Address.Street" /><br />
    City:  <input type="text" name="Address.City" value="@Model.Address.City" /><br />
    Zipcode: <input type="text" name="Address.ZipCode" value="@Model.Address.ZipCode" /><br />

    <input type="submit" value="Submit">
</form>


