@{
    ViewData["Title"] = "Home Page";
}

Year:   @(((DateTime)ViewData["date"]).Year)<br />
Name:   @((ViewData["friend"] as Friend).Name) <br />
Phone:  @((ViewData["friend"] as Friend).Phone) <br />

@{
    Friend friend = ViewData["friend"] as Friend;
}

Name:  @friend.Name  <br />
Phone: @friend.Phone <br />


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
